body{
    font-family:Helvetica,sans-serif;
    overflow-x:hidden;
    background: linear-gradient(rgba(255,255,255,0),rgba(255,255,255,0.7)) fixed,linear-gradient(124deg, #e8a11d, #e02a19, #d20de4, #2e20ee, #129daf, #1da53f) fixed;
    background-size: 400% 100%;
    -webkit-animation: rainbow 80s linear infinite;
    -z-animation: rainbow 80s linear infinite;
    -o-animation: rainbow 80s linear infinite;
    animation: rainbow 80s linear infinite;      
}

#header-div{
    background:none;
}

#about-wrapper {
    box-sizing:border-box;
    background:#f3f3f3;
    width:70ch;
    margin:0px auto;
    padding-left:26px;
    padding-right:26px;
    padding-bottom:7px;
    padding-top:20px;
    margin-bottom:45px;
    line-height:1.6;
    font-size:19px;
}

.email-signup-form {
    margin-bottom:0.5em;
}

.email-form {
    padding:11px;
    width:300px;
    border:2px solid #161616;
    border-right:none;
    border-radius:0;
    background:white;
    font-size:19px;
    margin:0;
}

.email-form:focus{
    outline:none;
}

.color-button {
    border-radius:0px;
    background:none;
    border:2px solid #161616;
    padding:11px 35px 11px 35px;
    cursor:pointer;
    margin-left:0px;
    font-size:19px;
}

.color-button:hover{
    background:#e0e0e0;
}

.section-title {
    display: flex;
    align-items: center;
    font-size:25px;
    margin-bottom:-8px;
    position:relative;
    text-indent:0;
}

.section-title:after {
    content: attr(title);
    position: absolute;
    top: 0;
    left: 0;
    background-color: #fff;
}
.section-title span {
    display: block;
    position: absolute;
    right: 0;
    top: 49%;
    bottom: 49%;
    min-width: 90%;
    border-bottom: 2px solid #ccc;
}

#about-wrapper ul {
    margin-top:-0.8em;
    padding-bottom:0px;
    line-height:1.6;
}

.link-text {
    color:#177ab3;
    text-decoration:none;
}

.link-text:hover{
    text-decoration:underline;
}


@media (min-width:1500px){

    #about-wrapper{
        font-size:20px;
    }

    .section-title{
        font-size:25px;
    }

    .color-button, .email-form {
        font-size:20px;
    }

}

@media (max-width:960px){
    #about-wrapper {
        width:calc(100% - 90px);
    }
}

@media (max-width:810px){
    #about-wrapper {
        width:92vw;
        padding-left:15px;
        padding-right:15px;
        padding-top:15px;
        margin-bottom:0vw;
        margin-bottom:4vw;
    }
}

@media (max-width:564px){

    .color-button {
        width:100%;
        margin:0px;
    }

    .email-form {
        width:100%;
        box-sizing:border-box;
        margin:0px;
        border:2px solid #161616;
        border-bottom:none;
    }

}

@media (max-width:400px){
    #about-wrapper {
        width:96vw;
        padding-left:13px;
        padding-right:13px;
        margin-bottom:2vw;
        padding-top:13px;
    }

}

@media (any-pointer:coarse){


        .link-text:hover{
            text-decoration:none;
        }


      .color-button:hover{
        background: #585858;
    }
    
}
