
body{
    overflow-y:hidden;
}
.text-wrapper{
    line-height:1.6;
    padding-left:25px;
    padding-right:25px;
    box-sizing:border-box;
    width:100%;
    text-align:center;
    margin-top:50px;
    font-size:30px;
    color:white;
}

#worker-icon{
    width:50px;
    height:50px;
    fill:white;
}